<!DOCTYPE html>
<html>
  <head>
    <title>Rails6template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="flex flex-col flex-1">
    <main class="container mx-auto mt-4 p-5 flex flex-col items-center flex-1">
      <%= yield %>
    </main>
  </body>
</html>
